<#macro navbar>
<nav class="sticky-top bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="navbar-brand my-auto">
                    <img src="/static/res/molot_serp.png" width="30" height="30" alt="">
                </div>
            </div>
            <div class="col-10">
            </div>
        </div>
    </div>
</nav>
</#macro>