* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header .brand {
	padding: 12px 0 12px 0;
	padding-left: 20px;
	text-transform: uppercase;
	text-align: left;
	color: #000;
	font-size: 24px;
	font-weight: 800;
}

header .search {
	padding: 18px 0 12px 0;
}

header .search-border {
	padding: 5px 0 5px 0;
	padding-left: 10px;
	border: 2px solid #000;
}

#search-input {
	width: 400px;
	height: 20px;
	border: transparent;
}

#search-button {
	padding:0 0 3px 0;
	width: 30px;
	height: 32px;
	border: none;
	cursor: pointer;
	background-color: #F90;
	color: #fff;
	text-align: center;
	font-size: 18px;
	transition: all 0.3s;
	font-weight: 300;
	border-left: 2px solid #000;
}

#search-button:hover {
	background-color: #fff;
	color: #000;
}

#search-button:hover {
	background-color: #fff;
	color: #000;
	border-left: 2px solid #000;
}

header .bar__right {
	padding: 18px 0 12px 0;
}

header .bar__right a {
	padding: 18px;
	padding-bottom: 23px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 800; 
	transition: all 0.3s;
	color: #000;
}

header .bar__right a:hover {
	background-color: #000;
	color: #fff;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .wrapper {
	height: 500px;
	background-attachment: fixed;
	background-position: 0 -300px;
	background-repeat: no-repeat;
	background-size: cover;
}

main .logo {
	height: 400px;
}

main .container-wrapper {
	background-color: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

main .sidemenu {
	background-color: #eee;
	width: 20%;
}

main .sidemenu ul li {
	padding: 10px 0 10px 16px;
	background: #eee;
	cursor: pointer;
}

main .sidemenu ul li:hover {
	color: #000;
	background: #fff;
	box-shadow:0 0 4px #eee;
}

main .sidemenu ul li a {
	color: #000;
	transition: all 0.3s;
	font-size: 20px;
	font-weight: 400;
}

main .sidemenu .current {
	padding: 10px 0 7px 13px;
	color: #000;
	background: #fff;
	border-bottom: 3px solid #F90;
}

main .container {
	width: 80%;
}

main .container .label {
	padding: 20px 0 0 40px;
	text-align: left;
	font-size: 40px;
	font-weight: 800;
}

main .container .devs {
	display: flex;
	flex-direction: row;
	height: 500px;
}

main .container .dev {
	display: flex;
	flex-direction: column;
}

main .container .devs .dev img {
	margin: 40px 40px 0 40px;
	width: 250px;
	height: 250px;
	border: 1px solid #fff;
	border-radius: 10px;
	object-fit: cover;
}

main .container .devs .dev .dev-text {
	margin-top: 20px;
	margin-left: 40px;
}

main .container .devs .dev .dev-text h3 {
	font-size: 40px;
}

main .container .devs .dev .dev-text p {
	font-size: 24px;
}
