body {
	background-color: #EAEAEA;
}

.container {
	font-size: 10pt;
}

.nav-avatar {
	object-fit: cover;
	object-position: center; 
	width: 30px; 
	height: 30px;
}

ul {
	list-style: none;
}

.nav-menu:hover {
	background-color: #BA2030;
}

.search {
	outline: none;
	width: 100%;
	height: 30px;
	background-color: #931A28;
	border: none;
	border-radius: 20px;
	padding-left: 7px;
	padding-bottom: 2px;
}

.search:focus {
	outline: none;
	width: 100%;
	height: 30px;
	background-color: white;
	border: none;
	border-radius: 20px;
	padding-left: 7px;
	padding-bottom: 2px;
}

.search::placeholder {
	font-size: 11pt;
	color: red;
}

.menu-item {
	padding-bottom: 3px;
	padding-left: 2px;
}

.menu-item:hover {
	border-radius: 5px;
	background-color: #F7D8DB;
}

.menu-item a {
	color: #DC3545
}

.menu-item span {
	font-size: 14pt; 
	padding-right: 4px;
}

.edit {
	font-size: 10pt;
	background-color: #F7D8DB;
}

.edit:hover {
	background-color: #F4CCD0;
}

.friends img {
	object-fit: cover;
	object-position: center;
	width: 60px; 
	height: 60px;
}

.groups img {
	object-fit: cover;
	object-position: center;
	width: 45px;
	height: 45px;
}

.groups .text-secondary {
	font-size: 9pt;
}

.segment {
	border: 1px solid; 
	border-color: #DDDDDD; 
	border-radius: 5px;
}

.photos img {
	object-fit: cover;
	object-position: center;
	width: 120px;
	height: 120px;
}

.post-create img {
	object-fit: cover;
	object-position: center;
	width: 30px;
	height: 30px;
}

.post-create #input-preview {
	object-fit: cover;
	object-position: center;
	width: 120px;
	height: 120px;
}

#input-preview-wrap {
	display: none;
}

#post-input {
	border: none;
	width: 50%;
	height: 23px;
	background-color: inherit;
	outline: none;
	resize: none;
}

#post-hidden {
	display: none;
}

#post-button {
	float: right;
}

.modal-header {
	border: none;
}

.photo-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.photo-input + label {
	font-size: 18pt;
	color: #EA6673
}

.photo-input + label:hover {
	cursor: pointer;
	color: #E2364A
}

.post .user-photo {
	object-fit: cover;
	object-position: center;
	width: 60px;
	height: 60px;
}

.post text-secondary {
	font-size: 9pt;
}

.post .include {
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.post-item {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 16pt;
	text-decoration: none;
}

.post-item-selected {
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 16pt;
	background-color: #DC3545;
	color: white;
	text-decoration: none;
}

.post-item-selected:hover {
	background-color: #BA2030;
	color: white;
}


.post-counter {
	font-size: 14pt;
	text-decoration: none;
}

.post .comment img {
	object-fit: cover;
	object-position: center;
	width: 30px;
	height: 30px;
}

.comment-input {
	outline: none;
	padding: 3px;
	border: 1px solid;
	height: 30px;
	border-color: #DDDDDD;
	border-radius: 5px;
	width: 90%;
}

.post .collapse img {
	object-fit: cover;
	object-position: center;
	width: 30px;
	height: 30px;
}

.album img {
	object-fit: cover;
	object-position: center;
	width: 200px;
	height: 120px;
}

.album .photo {
	border-radius: 5px; 
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 120px;
}

/* Customize the label (the container) */
.cb-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
	border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #dc3545;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}