body {
	background-color: #EAEAEA;
}

.sign-up:hover {
	background-color: #BA2030;
}

a {
	text-align: center;
}

#input-preview-wrap {
	display: none;
}

#input-preview {
	object-fit: cover;
	object-position: center;
	width: 120px;
	height: 120px;
}