<html>
    <head>
        <title>Post</title>
    </head>
    <body>
        <form method="post">
            <p><input type="text" name="text"></p>
            <p><button type="submit">Post</button></p>
        </form>
    </body>
</html>