<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method='post'>
            <p><input type='text' name='username' placeholder='username'></p>
            <p><input type='password' name='password' placeholder='password'></p>
            <p><button type='submit'>Sign in</button></p>
        </form>
    </body>
</html>