<table border="2px">
	<tr>
		<td><h1>ITIS</h1></td>
		<td>256</td>
		<td>
			<div align="center">
				<input type="radio" checked="">
			</div>
			<div align="center">
				<input type="radio" checked="">
				<input type="radio" checked="">
			</div>
			<div align="center">
				<input type="radio" checked="">
				<input type="radio" checked="">
				<input type="radio" checked="">
			</div>
			
			<div style="float: left;">
				<div align="center">
					<input type="radio" checked="">
				</div>
				<div align="center">
					<input type="radio" checked="">
					<input type="radio" checked="">
				</div>
				<div align="center">
					<input type="radio" checked="">
					<input type="radio" checked="">
					<input type="radio" checked="">
				</div>
			</div>
			<div style="float: right;">
				<div align="center">
					<input type="radio" checked="">
				</div>
				<div align="center">
					<input type="radio" checked="">
					<input type="radio" checked="">
				</div>
				<div align="center">
					<input type="radio" checked="">
					<input type="radio" checked="">
					<input type="radio" checked="">
				</div>
			</div>
		</td>
		<td>
			<form name="myform" method="get" action="https://yandex.ru/search/">
				<div><b>query</b></div>
				<input type="search" name="text"/>
				<button type="submit">на Яндекс</button>
			</form>
		</td>
	</tr>
	<tr>
		<td><i>0xbad</i></td>
		<td><h2>ITIS</h2></td>
		<td>
			<div align="center">0</div><hr>
			<div align="center">O</div><hr>
			<div align="center"><input type="radio" checked=""></div><hr>
			<div align="center"><a href="#">google.com</a></div>
		</td>
		<td>
			<button>4</button>
			<button>8</button>
			<button>15</button>
			<button>16</button>
			<button>23</button>
			<button>42</button>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><a href="#">127.0.0.1</a></td>
		<td>Eyjafjallajokull</td>
		<td><a href="https://vk.com/">vk.com</a></td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" checked="">
			<input type="checkbox">
			<input type="checkbox" checked="">
			<input type="checkbox">
			<input type="checkbox" checked="">
			<input type="checkbox">
		</td>
		<td><h6>ITIS</h6></td>
		<td>
			<div align="center">&#61;&#61;&#61;&#61;&gt;&gt;&gt;&lt;&lt;&lt;&#61;&#61;&#61;&#61;</div>
		</td>
		<td><h3>ITIS</h3></td>
	</tr>
	<tr>
		<td><h5>ITIS</h5></td>
		<td>
			<form>
				<div align="center">WRITE</div>
				<br>
				<input type="text" name="">
				<button type="submit">to Mail.ru</button>
			</form>
		</td>
		<td>
			<div>
				<input type="radio" checked="">
			</div>
			<div>
				<input type="radio" checked="">
				<input type="radio" checked="">
			</div>
			<div>
				<input type="radio" checked="">
				<input type="radio" checked="">
				<input type="radio" checked="">
			</div>
			<div>
				<input type="radio" checked="">
				<input type="radio" checked="">
			</div>
			<div>
				<input type="radio" checked="">
			</div>
		</td>
		<td><h4>ITIS</h4></td>
	<tr>
		<td>
			first line<br>
			second line
		</td>
		<td>
			first line<br>
			<br>
			second line
		</td>
		<td>
			first line<br>
			<br>
			<br>
			<br>
			second line
		</td>
		<td>
			<input type="radio" checked="">
			<input type="radio" checked="">
			<input type="radio" checked="">
			<input type="radio" checked="">
			<input type="radio" checked="">
		</td>
	</tr>
	</tr>
</table>