*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

body{
	background: url(/static/img/background.jpg) no-repeat 50% 0 #FFED74;
	background-size: 100%;
	font: 14px/1.67 Arial, Helvetica, sans-serif;
	padding: 40px 0;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
	
}




			/* HEADER BEGIN */
header{
	background: #f6f6f6;
	height: 97px;
	border-radius: 7px 7px 0 0;
}
header h1{
	float: left;
	margin: 10px 0 0 20px;

}

nav{
	float: right;
	clear: right;
}

nav li{
	float: right;
	margin: 30px 30px 0 30px;
}
nav li a{
	color: #808080;
	text-transform: uppercase;
	font-weight: bold;
}
			/* HEADER END */



.post{
	word-wrap: break-word;
	float: left;
	background: #fff;
	margin: 10px 20px 0 0;
	padding: 5px;
	width: 900px;
	clear: left;
	border-style: ridge;
	border-width: 3px;
	border-left-width: 4px;
	border-right-width: 4px;
	border-color: #CBB943;

}
.post img{
	float: right;
}

.timeplace{
	color: gray;
	line-height: 15px;
}

.commentarea{
	width: 900px;
}

.comment{
	word-wrap: break-word;
	float: left;
	background: #fff;
	margin: 10px 20px 0 0;
	padding: 10px;
	width: 900px;
	clear: left;
	border-style: ridge;
	border-width: 3px;
	border-left-width: 4px;
	border-right-width: 4px;
	border-color: #CBB943;
}
.comment ol{
	margin: 0 0 0 20px;
}
.ava{
	clear: right;
}


		/* TABLE BEGIN */

td{
	text-align: center;
}
td button{
	height: 40px;
}

		/* TABLE END */

		/* TICKET BEGIN */
.ticket{
	margin: 0 auto;
	word-wrap: break-word;
	background: #fff;
	padding: 5px;
	width: 500px;
	height: 80px;
	clear: left;
	border-style: ridge;
	border-width: 3px;
	border-left-width: 4px;
	border-right-width: 4px;
	border-color: #CBB943;
	text-align: center;
}
#userPhoto{
	float: left;
}
#eventPhoto{
	float: right;
}

		/* TICKET END */

.form{

	width: 500px;
	margin: 0 auto;
	word-wrap: break-word;
	background: #fff;
	padding: 15px;
	clear: left;
	border-style: ridge;
	border-width: 3px;
	border-left-width: 4px;
	border-right-width: 4px;
	border-color: #CBB943;
	text-align: center;
}
.form button{
	float: right;
	width: 70px;
	height: 30px;
}

input{
	outline: none;
	color: #000;
	font-weight: 250;
	font-size: 16px;
	line-height: 18px;
	background: #fff;
	padding: 13px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	border: 2px;
	border-bottom: 2px solid #000;
}
.form-bottom{
	font-size: 16px;
}
.form-bottom a{
	color: blue;
}
.post p textarea{
	width: 100%;
	height: 200px;
	font-size: 14px;
}